body{
    background-color: white;
}

.header{
    text-align: center;
    font-family: Rockwell;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.h2{
    text-align: center;   
    font-family: Rockwell;
}

.gridLeft{
    position: absolute;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(10, 60px);
    width: 660px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
}

.gridRight{
    position: absolute;
    left: 770px;
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(10, 60px);
    width: 660px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
}

.cell{
    border: 5px solid black;
    background-color: transparent;
    outline: 5px solid black;
}

.blank{
    border-style: hidden;
    background-color: white;
}

/*hover effect on the cells
.cell:hover{
    /*background-color:;
    background-color: rgb(75, 204, 255);
}
*/

#endTurn{
	
	position: relative;
	left: -100px;
	top: -20px;
	
     display:block;
    margin: 0 auto;
    margin-top: 10px;
    /*background-color:white;*/
    /*border: 2px solid transparent;*/
    box-sizing: border-box;
    cursor: pointer;
    font-size:1rem;
    font-weight: 500;
    line-height: 1;
    /*padding: 15px 25px;*/
    text-align: center;
}

#startTurn{
	
	position: relative;
	left: 100px;
	top: -50px;
	
     display:block;
    margin: 0 auto;
    margin-top: 10px;
    /*background-color:white;*/
    /*border: 2px solid transparent;*/
    box-sizing: border-box;
    cursor: pointer;
    font-size:1rem;
    font-weight: 500;
    line-height: 1;
    /*padding: 15px 25px;*/
    text-align: center;
}