body{
    background-color: white;
}

.header{
    text-align: center;
    font-family: Rockwell;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.h2{
    text-align: center;   
    font-family: Rockwell;
}

.gridLeft{
    position: absolute;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(10, 60px);
    width: 660px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
}

.gridRight{
    position: absolute;
    left: 770px;
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(10, 60px);
    width: 660px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
}

.cell{
    border: 5px solid black;
    background-color: transparent;
    outline: 5px solid black;
	text-align: center;   
	color: white;
    font-family: Rockwell;
	font-size: 20px;
	vertical-align: middle;
	white-space:pre-wrap;
}

.blank{
    border-style: hidden;
    background-color: white;
}

#turn{
	position: relative;
	left: -500px;
	top: -75px;
	color: white;
	font-size:20px;
	text-align: center;
	font-family: Rockwell;
}

#mode{
	position: relative;
	right: -500px;
	top: -100px;
	color: white;
	font-size:20px;
	text-align: center;
	font-family: Rockwell;
}

#endTurn{
	
	position: relative;
	left: -100px;
	top: -80px;
    display:block;
    margin: 0 auto;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size:1rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

#startTurn{
	
	position: relative;
	left: 100px;
	top: -112px;
	display:block;
    margin: 0 auto;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size:1rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

#rectangle1 {
    left: 100px;
    margin-top: -60px;
    position: absolute;
    width: 650px;
    height: 600px;
    background-color: black;
}

 

#rectangle2 {
    left: 820px;
    margin-top: -60px;
    position: absolute;
    width: 650px;
    height: 600px;
    background-color: black;
}