body{
    background-color: white;
}

.header{
    text-align: center;
    font-family: Rockwell;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.h2{
    text-align: center;   
    font-family: Rockwell;
}

.gridLeft{
    position: absolute;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(10, 60px);
    width: 660px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
}

.gridRight{
    position: absolute;
    left: 770px;
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(10, 60px);
    width: 660px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
}

.cell{
    border: 5px solid black;
    background-color: white;
    outline: 5px solid black;
}

.blank{
    border-style: hidden;
    background-color: white;
}

/*hover effect on the cells*/
.cell:hover{
    /*background-color: red;*/
    background-color: rgb(75, 204, 255);
}